@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Lato:wght@300;400;700;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

li,
h1 {
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 300;
}

.list {
    color: rgb(0, 0, 0);
    font-weight: 400;
    text-decoration: none;
    font-family: monospace;
}

.homepage_class {
    flex-direction: column;
    justify-content: center;
    background-color: rgb(37, 37, 37);
}

.homepage_header {
    display: block;
    max-width: 100%;
    justify-content: center;
    background-color: rgb(253, 252, 255);
}

.homepage_nav {
    display: flex;
    justify-content: center;
}

.homepage_list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    gap: 50px;
}

.homepage_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    height: 100%;
}

.homepage_title-content {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 30em;
    aspect-ratio: 1;
    border: 2px solid rgb(56, 8, 133);
}

.homepage_icons {
    width: 30em;
    aspect-ratio: 1;
    border: 2px solid rgb(148, 97, 3);
    font-family: 'Oswald', sans-serif;
}

.homepage_contact {
    width: 100%;
    aspect-ratio: 9;
    margin-top: 18px;
    border: 2px solid brown;
}

.homepage_title {
    font-size: 5em;
    font-family: 'Dhurjati', sans-serif;
    line-height: 0.8;
    color: white;
}
.homepage_text {
    text-align: center;
    color: white;
    padding: 180px 60px 10px 60px;
}

.hompage_strong {
    color: rgb(98, 252, 98);
}