@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dhurjati&family=Lato:wght@300;400;700;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Project{
    background-color: black;
    height: 100vh;
}

.User_header {
  display: block;
  max-width: 100%;
  height: 80px;
  justify-content: center;
  background-color: rgb(72, 240, 122);
}

.User_nav {
  display: flex;
  width: 100%;
  justify-content: center;
}

.User_list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 50px;
}